body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
background-color: rgb(33, 30, 30);
animation-name: light-to-dark;
animation-duration: 0.5s;
color:white
}
@keyframes dark-to-light {
  from {
    background-color: rgb(33, 30, 30);
  } to {
    background-color: #e4e4e4;
  }
}
@keyframes light-to-dark {
  from{
    background-color: #e4e4e4;
  } to {
    background-color: rgb(33, 30, 30);
  }
}
h1{
  margin-left: auto;
  margin-right: auto;
}
h1:hover{
color: gray;
}
.light-mode {
  background-color: #e4e4e4;
  color: black;
  animation-name: dark-to-light;
  animation-duration: 0.5s;

}
.toggle-btn {
padding: 5px 10px;
font-size: 12px;
line-height: 1;
position: absolute;
top: 1%;
right: 1%;
text-indent: 0;
text-align: center;
}
* {
  text-align: center;
}
html {
  scroll-behavior: smooth; /*i forgot accessibility settings disables this */
}
footer {
  margin-top: auto;
  text-align: center;
}
a{
  margin-left: auto;
  margin-right: auto;
}
a:hover{
  color: rgb(52, 185, 76);
}
details:hover{
  color: rgb(166, 78, 0);
}
details {
  border: 2px solid #7d7d7d;
  border-radius: 8px;
  padding: 0.5em 0.5em 0;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 0.5em;
}
